<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<style>
    body {
        background-color: lightblue;
        text-align: center;
        font-family: "Calibri";
        font-size: 12pt;
    }

    img {
        margin-top: 20px;
    }
</style>
<body>
    <img src= "https://i.imgur.com/MT4ojls.jpg" alt="Foto1" width="100px">
    <h1>Hello my name is {{ name }}</h1>
    <article>University : {{ univ }}</article>
    <article>NPM : {{ npm }}</article>
    <article>{{ desc1 }}</article>
    <article>I am {{ age }} years old</article>
    <article>{{ desc2 }}</article>
    <br>
    <img src= "https://i.imgur.com/IqyxeIt.jpg" alt="Foto2" width="100px">
    <h1>His name is Dave Nathanael</h1>
    <article>University : {{ univ }}</article>
    <article>NPM : 1706040076</article>
    <article>He is a student majoring Computer Science on Faculty of Computer Science, University of Indonesia.</article>
    <article>I am 19 years old</article>
    <article>He find it fun to play music, especially piano, for fun. He wants to be a fullstack web developer.</article>
    <br>
    <img src= "https://i.imgur.com/NuAsgZI.jpg" alt="Foto3" width="100px">
    <h1>His name is Nandhika Prayoga</h1>
    <article>University : {{ univ }}</article>
    <article>NPM : 1706040076</article>
    <article>he is a student majoring Computer Science on Faculty of Computer Science, University of Indonesia.</article>
    <article>He is 19 years old</article>
    <article>He likes reading and writing books. He also love to learn something new, and do creative things.</article>
</body>
</html>
